#controles ul {
  list-style-type: none;
  padding: 0;
  transform: translateX(-80%);
}

#controles ul:hover {
  transform: translateX(0);
}

/* Exercício 1: Criar uma transição para quando o mouse estiver em cima dos
 * botões play/stop (para que o elemento se revele lentamente)
 */
#controles ul {
  transition: transform .3s linear;
}

/*
 * Exercício 2: Você deve implementar uma metáfora visual para cada um dos 4
 * estados dos animais. Algumas *sugestões*:
 *   - com-fome: animal piscando (opacidade variando)
 *   - satisfeito: uma borda verde no animal e o animal fica girando de alegria
 *   - com-raiva: animal fica pulsando
 *   - atacando: animal dá um salto e cresce, com uma borda vermelha
 */
.com-fome {
  animation: fominha .5s linear 0s infinite alternate;
}

.satisfeito {
  position: relative;
  animation: feliz .2s linear 0s 2 alternate;
}

.com-raiva {
  animation: raivoso .5s linear 0s 2 normal;
}

.atacando {
  animation: ataque 2s linear 0s 1 normal;
}


/* Animações */
@keyframes fominha {
  from {
  }
  to {
    box-shadow: inset 0 0 0 1000px orange;
  }
}

@keyframes feliz {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1rem);
    box-shadow: inset 0 0 0 1000px limegreen;
  }
}

@keyframes raivoso {
  0%   { transform: rotateZ(0deg) }  
  25%  { transform: rotateZ(45deg) }
  50%  { transform: rotateZ(0deg) }  
  75% { transform: rotateZ(-7.5deg) }
  100% { transform: rotateZ(0deg) }
}

@keyframes ataque {
  0%   { transform: translateZ(0rem) }  
  5%  {
    box-shadow: inset 0 0 0 5rem red;
  }
  10%  { transform: translateY(-3rem) }
  20%  { transform: translateY(0rem)  }
  25%  { transform: translateY(-3rem) }
  35%  { transform: translateY(0rem)  }
  100% {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }  
}